.otziv {
    padding-left: 84px;
    padding-right: 156px;
    position: relative;
}

.otziv-sec-title {
  padding-top: 112px;
    padding-bottom: 42px;
}


.otziv-slider-block {
    padding-left: 60px;
    position: relative;
    padding-right: 150px;
}

.section_partner_otziv-slider-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 600px;
}

.slider-otziv{
    padding-top: 21px;
    padding-bottom: 75px;
}

.swiper-button-next-otziv{
    position: absolute;
    top: 55%;
    left: 3%;
    border: none;
}

.ontziv-slider-mobile {
    display: none;
}

.swiper-button-prev-otziv{
    position: absolute;
    top: 58%;
    right: 156px;
    border: none;
}

.slide_item_block {
    width: 367px;
    height: 470px;
    background-image: url(../img/slide_img3.png), url(../img/otziv_slide_back2.png), url(../img/otziv_slide_back1.png);
    background-size: 18%, 89.92%, 100%;
    background-position: 90% 95%, right bottom, left center;
    background-repeat: no-repeat;
    text-align: center;

    margin: 0 auto;
    transform: scale(1);
    transition: all ease .5s;
}

.langunage_block {
    margin-top: 8px;
}

.people_image_block {
    width: 134px;
    height: 134px;
    position: relative;
    top: 40px;
    left: auto;
    right: auto;
    margin: 0 auto;
    transition: all ease .5s;
}

.people_image_block img{
    width: 100%;
    height: 100%;
}

.nav_width_planshet_close{
    width: 80px;
}

.nav_width_planshet_open {
    width: 150px;
}

.otizv_slider_title {
    color: #232323;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 51px;
    margin-bottom: 8px;
}

.slide_item_block p {
    padding: 10px 30px 0 60px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    font-family: Montserrat;
    text-align: left;
    transition: all 0.4s;
    margin: 0 auto;
    color: #232323;
    font-style: normal;
}

.btn_prev_otziv_slider_position::after{
    display: none;
}

.btn_next_otziv_slider_position::after{
    display: none;
}

.swiper-slide-active .slide_item_block {
    transform: scale(1.3);
}

.btn_otziv_slider {
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    background: #FEFCFB;
    border: 1px solid rgba(153, 153, 153, 0.5);
    outline: 0;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.1s;
}

.swiper-button-prev-otziv{
    left: 89%;
}


.btn_otziv_slider:hover{
    color: white;
}

.btn_next_otziv_slider_position {
    position: absolute;
    right: 135px;
    top: 50%;
    transform: rotate(180deg);
}

.btn_prev_otziv_slider_position {
    position: absolute;
    left: 40px;
    top: 50%;
}

.btn_otziv_slider:hover{
    background: #DC004F;
}

.otziv-slider-mobile {
    display: none;
}

/*==================================================================== Media ====================================================================*/
@media only screen and (min-width:1440px) and (max-width:1919px) {
 .otizv_slider_title {
     font-size: 19px;
     margin-top: 33px;
 }

    .people_image_block {
        width: 99px;
        height: 99px;
    }

    .slide_item_block {
        width: 281px;
        height: 374px;
    }

    .swiper-button-next-otziv {
        position: absolute;
        top: 62%;
        left: 4%;
    }

    .slider-otziv {
        padding-top: 21px;
        padding-bottom: 56px;
    }

    .swiper-button-prev-otziv {
        position: absolute;
        top: 62%;
        right: 107px;
    }

    .slide_item_block p {
        padding: 10px 13px 0 44px;
    }

    .people_image_block {
        top: 31px;
    }

    .otziv-sec-title {
        padding-top: 96px;
        padding-bottom: 16px;
    }

}

@media only screen and (min-width:1024px) and (max-width:1439px) {
    .otizv_slider_title {
        font-size: 19px;
        margin-top: 33px;
    }

    .otziv {
        padding-right: 120px;
    }

    .swiper-button-prev-otziv, .swiper-button-next-otziv{
        top: 68%    ;
    }

    .people_image_block {
        width: 99px;
        height: 99px;
    }

    .slide_item_block {
        width: 180px;
        height: 245px;
    }

    .people_image_block {
        width: 72px;
        height: 72px;
    }

    .people_image_block {
        top: 14px;
    }

    .otizv_slider_title {
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .astx_block img {
        width: 8px;
        height: 8px;
    }

    .swiper-button-next-otziv {
        position: absolute;
        top: 62%;
        left: 8%;
    }

    .slider-otziv {
        padding-top: 21px;
        padding-bottom: 37px;
    }

    .swiper-button-prev-otziv {
        position: absolute;
        top: 62%;
        right: 107px;
    }

    .slide_item_block p {
        padding: 10px 13px 0 44px;
    }

    .people_image_block {
        top: 13px;
    }

    .slide_item_block p {
        font-weight: 300;
        font-size: 8px;
        padding: 13px 16px 0 30px;
        line-height: 11px;
    }

    .otziv-sec-title {
        padding-top: 96px;
        padding-bottom: 12px;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .otizv_slider_title {
        font-size: 19px;
        margin-top: 33px;
    }
    .swiper-button-next-otziv {
        position: absolute;
        top: 67%;
        left: 8%;
    }


    .otziv {
        padding-left: 84px;
        padding-right: 115px;
    }

    .people_image_block {
        width: 99px;
        height: 99px;
    }

    .slide_item_block {
        width: 140px;
        height: 194px;
    }

    .people_image_block {
        width: 72px;
        height: 72px;
    }

    .people_image_block {
        top: 14px;
    }

    .otizv_slider_title {
        font-size: 9px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .astx_block {
       display: flex;
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 2px;
    }

    .astx_block img {
        width: 5px;
        height: 5px;
    }

    .swiper-button-next-otziv {
        position: absolute;
        top: 62%;
        left: 4%;
    }

    .slider-otziv {
        padding-top: 30px;
        padding-bottom: 29px;
    }

    .otziv-sec-title {
        padding-top: 85px;
        padding-bottom: 16px;
    }

    .swiper-button-prev-otziv {
        position: absolute;
        top: 70%;
        right: 107px;
    }

    .slide_item_block p {
        padding: 10px 13px 0 44px;
    }

    .people_image_block {
        top: 0;
    }

    .slide_item_block p {
        padding-left: 2.5vw;
        padding-top: 0;
        font-size: 6px;
        line-height: 7.31px;
        transition: padding-left ease-in 1s ,padding-top ease-in 1s,font-size ease-in 1s,line-height ease-in 1s;
    }

}

@media only screen and (min-width:320px) and (max-width:767px) {
      .otziv-slider-mobile {
          display: block;
          position: relative;
      }

    .otziv-slider_block {
        display: none;
    }

    .otziv {
        padding-left: 0;
        padding-right: 0;
    }

    .slide_item_block {
        width: 186px;
        height: 280px;
        padding-top: 32px;
        box-sizing: border-box;
    }

    .avatar {
        width: 82px;
        height: 82px;
        margin: auto;
    }

    .otziv-sec-title{
       padding: 98px 16px 24px 16px;
    }

   .mobile_otziv_slider_item_title {
       color: #232323;
       font-family: Montserrat;
       font-size: 16px;
       font-style: normal;
       font-weight: 700;
       line-height: normal;
       padding: 8px 0;
   }

   .otziv_slider_start_block img {
       width: 12px;
       height: 12px;
   }

   .otziv_mobile {
       padding-bottom: 42px;
   }

   .slide_item_block p {
        padding: 8px 14px 0 32px;
        font-size: 12px;
        line-height: 12px;
    }

   .avatar img {
        width: 100%;
        height: 100%    ;
    }
}