.teams {
    padding-left: 84px;
    padding-bottom: 136px;
}

.teams-sec-title {
    padding-top: 136px;
    padding-bottom: 126px;
}

.teams-slider {
    width: 75%;
    position: relative;
    margin: auto;
}

.slider-btn-prev-teams {
    position: absolute;
    left: -11%;
    top: 46%;

}

.slider-btn-next-teams{
    position: absolute;
    left: 100%;
    top: 46%;
}

.team-slide-item-div img {
    width: 77%;
    height: 100%;
}

.team-slide-item-div h6 {
    color: #D01D42;
    font-family: Montserrat;
    font-size: 24px;
    padding-top: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.team-slide-item-div p {
    font-size: 18px;
    color: #363636;
    font-family: Montserrat;
    padding-top: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.slider_team_mobile_block {
    display: none;
}
/*==================================================================== Media ====================================================================*/
@media only screen and (min-width:1440px) and (max-width:1770px) {
    .team-slide-item-div h6 {
        color: #D01D42;
        font-family: Montserrat;
        font-size: 20px;
    }

    .team-slide-item-div p {
        font-size: 14px;
    }

    .teams-sec-title {
        padding-top: 96px;
        padding-bottom: 60px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1439px) {
    .team-slide-item-div h6 {
        color: #D01D42;
        font-family: Montserrat;
        font-size: 14px;
    }
    .team-slide-item-div p {
        font-size: 10px;
    }

    .section-title {
        font-size: 24px;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .team-slide-item-div h6 {
        color: #D01D42;
        font-family: Montserrat;
        font-size: 10px;
    }


    .teams-slider {
        width: 80%;
    }

    .team-slide-item-div p {
        font-size: 8px;
    }

    .team-slide-item-div img {
        width: 94%;
        height: 100%;
    }

    .team-slide-item-div h6 {
        font-size: 10px;
        padding-top: 15px;
    }

    .teams {
        padding-left: 41px;
        padding-bottom: 38px;
    }

    .teams-sec-title {
        padding-top: 64px;
        padding-bottom: 24px;
    }

    .teams-sec-title {
        padding-top: 96px;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    .team_slider_btn_block {
        display: none;
    }

    .slider_team_mobile_block {
        display: block;
    }

    .slider_team_mobile_block {
        width: 100%;
    }

    .swiper-slide-item-block1 .swiper-slide-item-block-item {
        display: flex;
        align-items: center;
    }

    .swiper-slide-item-block2 .swiper-slide-item-block-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .swiper-slide-item-block-item h6 {
        font-size: 14px;
        line-height: 17px;
    }

    .teams {
        padding-left: 16px;
        padding-bottom: 64px;
        padding-right: 16px;
    }

    .swiper-slide-item-block-item {
        margin-top: 10px;
    }

    .mobile-teams-block-title {
        color: #D01D42;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 20px;
    }

    .swiper-slide-item-block1-div {
        padding-left: 10px  ;
    }

    .mobile-teams-block-text {
        padding-top: 8px;
        color: #363636;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .swiper-slide_item_block_item_img {
        width: 98px;

    }

    .swiper-slide_item_block_item_img  img {
        width: 100%;
        height: 100%;
    }

    .swiper-slide-item-block2-div {
        padding-right: 10px;
    }

    .teams_slider {
        display: none;
    }

    .teams-sec-title {
        padding-top: 25%;
        padding-bottom: 24px;
    }
}